@model IEnumerable<_521Final.Models.Genre>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; //add this to everything
}
<div class="container text-center">
<h2>All Genres</h2>
</div>
<button class="btn">

    <a asp-action="Create">Create New</a>

</button>


@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@

<div class="box" style = "margin-top: 15px;">
    <div class="container" id="" style="">
        <div class="row">
 @foreach (var item in Model) { //not working bc we can't create books yet
          <div class="col-sm-11">
          <div class="panel panel-primary">
            <div class="panel-heading">@Html.DisplayFor(modelItem => item.Name)</div>
              <div class="">
                <label for="Label"></label>
                <span id="">@Html.DisplayFor(modelItem => item.Description)</span>
              </div>
            <div class="panel-footer">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
          </div>
          </div>

}
</div>
</div><br>
</div>
