@model Book

@{
    ViewData["Title"] = "Delete"; //you can only delete books that arent in a users library. Which makes sense
}
<div class="container text-center">
<h2>Delete</h2>
</div>
<div>
    <div class="box">
        <div class="container" id="" style="">
            <div class="row">
                <div class="col-sm-11">
                    <div class="panel panel-primary">
                        <div class="panel-heading"></div>
                        <div class="">
                            <label for="Label"></label>

                            @Html.DisplayNameFor(model => model.HyperLink):


                            @Html.DisplayFor(model => model.HyperLink)

                            <br />

                            @Html.DisplayNameFor(model => model.Title):

                            @Html.DisplayFor(model => model.Title)

                            <br />

                            @Html.DisplayNameFor(model => model.Author):

                            @Html.DisplayFor(model => model.Author)

                            <br />

                            @Html.DisplayNameFor(model => model.AvgRating):

                            @Html.DisplayFor(model => model.AvgRating)

                            <br />

                            @Html.DisplayNameFor(model => model.Genre):

                            @Html.DisplayFor(model => model.Genre)

                            <br />

                            @Html.DisplayNameFor(model => model.Summary):

                            @Html.DisplayFor(model => model.Summary)

                            <br />


                            @if (Model.BookPhoto != null)
                            {
                                <img width="100" height="100" src="@Url.Action("GetBookPhoto", "BookPhoto", new {Model.BookPhoto})" />
                            }

                        </div>

                    </div>
                </div>
            </div>
        </div><br>
    </div>
    <div>
        <h2>Are you sure you want to delete this?</h2>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
    </div>
</div>