@model Book


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
<h1>Details</h1>
</div>

    <dl class="row">
        
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyReview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyReview)
        </dd>*@
    </dl>
<div class="box">
    <div class="container" id="" style="">
        <div class="row">
            <div class="col-sm-11">
                <div class="panel panel-primary">
                    <div class="panel-heading"></div>
                    <div class="">
                        <label for="Label"></label>
                        
                                @Html.DisplayNameFor(model => model.HyperLink):
                               

                                @Html.DisplayFor(model => model.HyperLink)

                                <br />
                        
                                @Html.DisplayNameFor(model => model.Title):
                      
                                @Html.DisplayFor(model => model.Title)

                                <br />
                        
                                @Html.DisplayNameFor(model => model.Author):
                     
                                @Html.DisplayFor(model => model.Author)

                                <br />
                        
                                @Html.DisplayNameFor(model => model.AvgRating):
                        
                                @Html.DisplayFor(model => model.AvgRating)

                                <br />
                      
                                @Html.DisplayNameFor(model => model.Genre):
                        
                                @Html.DisplayFor(model => model.Genre)
                        
                                <br />
                        
                                @Html.DisplayNameFor(model => model.Summary):
                        
                                @Html.DisplayFor(model => model.Summary)

                                <br />
                      
                        
                                @if (Model.BookPhoto != null)
                                {
                                <img width="100" height="100" src="@Url.Action("GetBookPhoto", "BookPhoto", new {Model.BookPhoto})" />
                                }
                        
                    </div>

                </div>
            </div>
        </div>
    </div><br>
</div>

<div>
    <br /><hr />
   <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>




