@using Microsoft.AspNetCore.Identity

@model _521Final.Models.UserBook

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
    var user = await UserManager.GetUserAsync(User);
    //var book = Model.Where(ub => ub.UserId == user.Id);
}
<div class="container text-center">
<h2>Details</h2>
</div>
<div class="box">
    <div class="container" id="" style="">
        <div class="row">
            <div class="col-sm-11">
                <div class="panel panel-primary">
                    <div class="panel-heading"></div>
                    <div class="">
                        <label for="Label"></label>
                                @Html.DisplayNameFor(model => model.Book.Title):
                      
                                @Html.DisplayFor(model => model.Book.Title)

                                <br />
                        
                                @Html.DisplayNameFor(model => model.Book.Author):
                     
                                @Html.DisplayFor(model => model.Book.Author)

                                @*<br />*@
                                
                        
                                @*@if (@Html.DisplayFor(model => model.Book.BookPhoto) != null)
                                {
                                    <img width="100" height="100" src="@Url.Action("GetBookPhoto", "Books", new {(this.model.Book.BookPhoto)})" /> cant get the right syntax for the photo
                                }*@

                                <br />

                                My Rating:
                        
                                @Html.DisplayFor(model => model.UserRating)

                                <br />
                        
                                Average Rating:
                        
                                @Html.DisplayFor(model => model.Book.AvgRating)

                                <br />
                      
                                @Html.DisplayNameFor(model => model.Book.Genre):
                        
                                @Html.DisplayFor(model => model.Book.Genre)
                        

                                <br />

                                Started Reading On:
                        
                                @Html.DisplayFor(model => model.StartDate)

                                <br />

                                Finished Reading On:
                        
                                @Html.DisplayFor(model => model.EndDate)

                                <br />

                                My Review:
                        
                                @Html.DisplayFor(model => model.UserReview)

                                <br />
                        
                                @Html.DisplayNameFor(model => model.Book.Summary):
                        
                                @Html.DisplayFor(model => model.Book.Summary)

                                <br />

                                Link:
                               

                                @Html.DisplayFor(model => model.Book.HyperLink)

                                <br />
                        
                    </div>

                </div>
            </div>
        </div>
    </div><br>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserBookId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

